                                                    
.text {
    color: #c0c0c0;
}

.text-2 {
    color: red;
    font-weight: 900;
} 

.btn {
    border: 3px solid #172391;
    background-color: cadetblue;
    color: bisque;
    font-size: 20px;
    padding: 16px 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s ease;
    transition-property: background-color, color, border-radius;

}

.btn--active {
    background-color: red;
    color: white;
}

.btn[disabled] {
    opacity: 0.8;
}

.btn:hover {
    border-radius: 9999px;
}

.flex-container {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    gap: 16px;
}

.item {
    background-color: red;
    height: 48px;
    width: 48px;
}

.item-2 {
    background-color: blue;
    height: 32px;
    width: 32px;
}

.item-3 {
    background-color: purple;
    height: 16px;
    width: 16px;
}

.demo-inline {
    background-color: red;
    padding: 4px;
    margin: 4px;
}

.demo-block {
    background-color: purple;
    padding: 8px;
    margin: 8px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.demo-block-2 {
    background-color: blue;
    padding: 8px;
    margin: 8px;
    margin-top: 60px;
}

.demo-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px 200px;
    gap: 16px;
}

.demo-grid__item:nth-child(1) {
    background-color: red;
}

.demo-grid__item:nth-child(2) {
    background-color: blue;
}

.demo-grid__item:nth-child(3) {
    background-color: green;
}

@media (max-width: 800px) {
    .demo-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 200px 100px 200px;
    }
}

.hoverable-link {
    position: relative;
    color: #222;
    font-size: 20px;
    padding: 0.25em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.hoverable-link:hover::before {
    width: 100%;
}

.hoverable-link::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background-color:red;
    transition: 0.2s width;
}

.before-after-exmple {

}

.before-after-exmple::before {
    content: 'Текст слева';
    color: red;
}

.before-after-exmple::after {
    content: 'Текст справа';
    color: #172391;
}

.text_User{
    display: inline-block;
    color: #222;
    position: relative;
    padding-right: 15px;
    font-size: 32px;
    background-color: #c0c0c0;
}

.text_User::after{
    content: '';
    position: absolute;
    background-color: #172391;
    height: 0.25em;
    width: 0.25em;
    border-radius: 50%;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    height: 40px;
    width: 100%;
    background-color: #172391;
}

.scroll-container {
    margin-top: 40px;
    position: static;
    height: 200px;
    width: 300px;
    overflow-y: scroll;
    resize: both;
}

img {
    display: block;
    margin-top: 400px;
}